body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  white-space: pre-line;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
